<!DOCTYPE html>
<html> 
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Your Brand Here</title>
		<script src="https://code.jquery.com/jquery.min.js"></script>
        <!-- Link CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/2.0.3/pure-min.css" integrity="sha512-FEioxlObRXIskNAQ1/L0byx0SEkfAY+5fO024p9kGEfUQnACGRfCG5Af4bp/7sPNSzKbMtvmcJOWZC7fPX1/FA==" crossorigin="anonymous" />        
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet">        
        <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">  
        <!-- Pure CSS Icons -->
        <link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/base-min.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-min.css">
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
        <!-- CDN  -->
       

		
    </head>
    
    <body>
    <!-- DOES NOT INCLUDE CLOSING HTML-->
