<%- include("partials/headerHTML") %>

    
    <div class="header">
        <h1>Wallpaper JSON Designer</h1>
        <h3>With the use of <a target="_blank" href="https://unsplash.com/">Unsplash API</a></h3>
    </div>

    <div class="pure-g">
        <form action="/search" method="POST" style="margin: auto; padding: 2em; display: flex;" class="pure-form">
                <input type="text" name="photo_name" class="pure-input-1" placeholder="Search for a word" />
                <button>
                    <i style="left: -31px;" class="icono-search"></i>
                </button>
        </form>

        
    </div>
    <%- include("partials/footer") %>
