<%- include("partials/headerHTML") %>


    <div class="header">
        <h1>Wallpaper JSON Designer</h1>
        <h3>With the use of <a target="_blank" href="https://unsplash.com/" >Unsplash API</a></h3>
    </div>

    <div class="pure-g" style="display: block;">
        <form action="/photos" method="POST" class="pure-form">
            <input type="text" style="text-align: center;" name="photo_name" class="pure-u-1-3" placeholder="Search for a word..." />
            <h3>or</h3>
        </form>
        <form id="random" style="padding: 0;" action="/photos/random" class="pure-form">
            <button type="submit" style="font-weight: bolder;" class="pure-button">Get Random Photo</button>
        </form>

    </div>
    <%- include("partials/footer") %> 