.header {
    font-family: 'Cutive Mono', monospace;
    max-width: 768px;
    margin: 0 auto;
    padding: 1em;
    text-align: center;
    border-bottom: 1px solid rgba(114, 114, 114, 0.295);
    background: rgb(179, 220, 255);
    letter-spacing: 0em;
}

html,  input, select, textarea,
.pure-g [class *= "pure-u"] {
    background: rgb(179, 220, 255);
    font-family: 'Nixie One', cursive;


}

.pure-form {
    margin: auto;
    padding: 2em 0 0 0;
    text-align: center;
    display: block;
}
.pure-form button {
    border-radius: 7px;
    background-color: deepskyblue;
    
}



.pure-g > form {
    text-align: center;
    font-family: 'Cutive Mono', monospace;
    letter-spacing: 0em;
    
}